@page
@model training_health_medical_app.Pages.Athletes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Athlete</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Athlete.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Athlete.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Athlete.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Athlete.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Athlete.Sport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Athlete.Sport)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Athlete?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
